// SubNav
.hidden {
  display: none;
}
#sub-nav.alt {
  position: fixed;
  top: 0px;
  z-index: 10000;
  width: 100%;
  height: 80px;
  background-color: rgb(246, 244, 244);
  display: flex;
  justify-content: flex-start;
  align-items: center;

  div {
    margin-left: 20px;
    a:hover {
      cursor: pointer;
      color: red;
    }
  }
}

@include breakpoint(small) {
  #sub-nav.alt {
    display: none;
  }
  .burger-button.alt {
    @include vendor('display', 'flex');
    @include vendor('align-items', 'center');
    position: fixed;
    top: 10px;
    left: 5px;
    z-index: 10000;
    border: none;
    border-radius: 25px;
    background-color: rgb(236, 233, 233);
    -webkit-box-shadow: -2px 3px 65px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 3px 65px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 3px 65px 0px rgba(0, 0, 0, 0.75);
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    .burger-nav-bun--top {
      width: 1.3rem;
      @include vendor('transform', translateY(-0.3125rem));
    }
    .burger-nav-bun,
    .burger-nav-meat {
      position: relative;
      left: 0;
      top: 5%;
      display: block;
      margin-top: -0.0625rem;
      border-top: 0.125rem solid;
    }
    .burger-nav-bun--bottom {
      width: 1.1rem;
      @include vendor('transform', translateY(0.3125rem));
    }
  }
}
