/* Section */
#section {
  color: black;
  width: 100vw;
  background-color: white;
  @include vendor('display', 'flex');
  @include vendor('flex-direction', 'row');
  @include vendor('align-items', 'center');
  @include vendor('justify-content', 'center');

  h1,
  h2 {
    color: black;
  }
  ul,
  ul > li {
    padding-left: 0em;
  }
  .container-partial-width {
    @include vendor('align-items', 'start');
    max-width: 70vw;
  }

  .container-full-width {
    // @include vendor('display', 'flex');
    // @include vendor('flex-direction', 'column');
    // @include vendor('align-items', 'center');
    // @include vendor('justify-content', 'center');
    width: 100vw;
  }

  .section-container {
    margin: 10% 0;
    width: 100%;
  }

  .about-profile-layout {
    @include vendor('display', 'flex');
    @include vendor('justify-content', 'space-between');
    // background-color: red;
    width: 100%;
    // .profile-info {
    //   background-color: green;
    // }
  }

  .simple-banner {
    @include vendor('display', 'flex');
    @include vendor('flex-direction', 'column');
    @include vendor('align-items', 'center');
    @include vendor('justify-content', 'center');
    width: 100%;
    height: 400px;
    background-color: #f8f8f8;
  }

  .simple-banner-text {
    @include vendor('display', 'flex');
    @include vendor('flex-direction', 'column');
    @include vendor('align-items', 'center');
    @include vendor('justify-content', 'center');
    width: 100%;
    h1 {
      text-align: center;
      width: 65%;
    }
    p {
      width: 70%;
    }
  }

  .projects {
    @include vendor('display', 'flex');
    @include vendor('flex-direction', 'column');
    @include vendor('align-items', 'center');
    @include vendor('justify-content', 'center');

    .project {
      @include vendor('display', 'flex');
      @include vendor('flex-direction', 'row');
      @include vendor('align-items', 'flex-start');
      @include vendor('justify-content', 'center');
      width: 100%;
      border-bottom: 1px solid rgba(227, 226, 226, 0.424);
      .description {
        @include vendor('display', 'flex');
        @include vendor('flex-direction', 'column');
        @include vendor('align-items', 'flex-start');
        @include vendor('justify-content', 'center');
        width: 20%;
        margin: 6rem;
        h1 {
          margin-bottom: 0;
        }
        hr {
          width: 30%;
          margin: 1.875em 0;
          background-color: #c5c5c5;
          height: 0.0625em;
          border: none;
        }
        .toolbar {
          @include vendor('display', 'flex');
          @include vendor('flex-direction', 'row');
          @include vendor('align-items', 'center');
          @include vendor('justify-content', 'center');
          button {
            background-color: black;
          }
          button:hover {
            background-color: #f8f8f8;
            color: rgb(36, 29, 21) !important;
          }
        }
      }
      img {
        margin: 6rem;
      }
    }
  }

  .ethos {
    @include vendor('display', 'flex');
    @include vendor('flex-direction', 'row');
    @include vendor('align-items', 'center');
    @include vendor('justify-content', 'center');
    height: 300px;
    background-color: rgb(3, 3, 3);
    color: white;
    .ethos-list {
      @include vendor('display', 'flex');
      @include vendor('flex-direction', 'row');
      @include vendor('align-items', 'start');
      @include vendor('justify-content', 'center');
      list-style-type: none;

      li {
        width: 10%;
        margin: _size(element-margin);
        text-align: center;
        i {
          margin-bottom: 40px;
        }
        p {
          margin: 0;

          text-align: center;
        }
      }
    }
  }
}

.contact-layout {
  width: 100%;
  @include vendor('display', 'flex');
  @include vendor('flex-direction', 'row');
  @include vendor('align-items', 'center');
  @include vendor('justify-content', 'space-around');
  svg {
    width: 60px;
    margin: 0 auto;
  }
}

// medium break point
@include breakpoint(medium) {
  #section {
    .about-profile-layout {
      @include vendor('flex-direction', 'column');
      @include vendor('align-items', 'center');
      @include vendor('justify-content', 'center');
    }
    .ethos {
      @include vendor('flex-direction', 'column');
      @include vendor('align-items', 'center');
      @include vendor('justify-content', 'center');
      height: auto;
      .ethos-list {
        @include vendor('flex-direction', 'column');
        @include vendor('align-items', 'center');
        @include vendor('justify-content', 'center');

        li {
          @include vendor('flex-direction', 'column');
          @include vendor('align-items', 'center');
          @include vendor('justify-content', 'center');
          width: 50%;
        }
      }
    }
  }
}
// small breakpoint
@include breakpoint(small) {
  #section {
    .about-profile-layout {
      @include vendor('flex-direction', 'column');
      @include vendor('align-items', 'center');
      @include vendor('justify-content', 'center');
    }
    .ethos {
      @include vendor('flex-direction', 'column');
      @include vendor('align-items', 'center');
      @include vendor('justify-content', 'center');
      height: auto;
      .ethos-list {
        @include vendor('flex-direction', 'column');
        @include vendor('align-items', 'center');
        @include vendor('justify-content', 'center');

        li {
          @include vendor('flex-direction', 'column');
          @include vendor('align-items', 'center');
          @include vendor('justify-content', 'center');
          width: 50%;
        }
      }
    }
  }
}
// xtra small breakpoint

@include breakpoint(xsmall) {
}
