/* Section */
#section {
  color: black;
  width: 100vw;
  background-color: white;
  @include vendor('display', 'flex');
  @include vendor('flex-direction', 'row');
  @include vendor('align-items', 'center');
  @include vendor('justify-content', 'center');

  h1,
  h2 {
    color: black;
  }
  ul,
  ul > li {
    padding-left: 0em;
  }
  .container-partial-width {
    max-width: 1200px;
    text-align: center;
  }

  .container-full-width {
    width: 100vw;
  }

  .section-container {
    margin: 10% 0;
    width: 90%;
  }

  .about-profile-layout {
    @include vendor('display', 'flex');
    @include vendor('justify-content', 'space-between');
    width: 100%;
    margin-top: 100px;
  }

  .about-profile-img {
    width: 400px;
  }

  .skills-container {
    width: 700px;
  }

  .skills_list {
    ul {
      @include vendor('display', 'flex');
      @include vendor('flex-direction', 'row');
      @include vendor('align-items', 'center');
      @include vendor('justify-content', 'flex-end');
      @include vendor('flex-wrap', 'wrap');
      list-style-type: none;
      li {
        background: #000;
        color: white;
        margin: 6px 10px 6px 0;
        border-radius: 15px;
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
      }
    }
  }

  .angled-banner {
    @include vendor('display', 'flex');
    @include vendor('flex-direction', 'column');
    @include vendor('align-items', 'center');
    @include vendor('justify-content', 'center');
    width: 100%;
    min-height: 500px;
    background-color: #f8f8f8;
    -webkit-clip-path: polygon(0 0, 100% 5%, 100% 94%, 0% 100%);
    clip-path: polygon(0 0, 100% 5%, 100% 94%, 0% 100%);
    margin-top: -3%;
  }

  .portfolio {
    position: relative;
    top: 50px;
  }

  .angled-banner-text {
    @include vendor('display', 'flex');
    @include vendor('flex-direction', 'column');
    @include vendor('align-items', 'center');
    @include vendor('justify-content', 'center');
    width: 100%;
    h1 {
      text-align: center;
    }
    p {
      @include vendor('display', 'flex');
      @include vendor('flex-direction', 'row');
      @include vendor('align-items', 'center');
      @include vendor('justify-content', 'center');
    }

    a {
      display: block;
      width: 200px;
      line-height: 2.75rem;
      background-color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      border: 1px solid #ccc;
      letter-spacing: 0.2rem;
      font-size: 0.8rem;
      border-radius: 5px;
    }
    a:hover {
      background-color: darkcyan;
      color: #ffffff;
      cursor: pointer;
    }
  }

  .projects {
    @include vendor('display', 'flex');
    @include vendor('flex-direction', 'column');
    @include vendor('align-items', 'center');
    @include vendor('justify-content', 'center');

    .project {
      @include vendor('display', 'flex');
      @include vendor('flex-direction', 'row');
      @include vendor('align-items', 'flex-start');
      @include vendor('justify-content', 'center');
      width: 100%;
      border-bottom: 1px solid rgba(227, 226, 226, 0.424);
      .project-type {
        background-color: grey;
        color: white;
        padding: 10px;
      }

      .description {
        @include vendor('display', 'flex');
        @include vendor('flex-direction', 'column');
        @include vendor('align-items', 'flex-start');
        @include vendor('justify-content', 'center');
        width: 20%;
        margin: 6rem 0;
        h1 {
          margin-bottom: 0;
        }
        hr {
          width: 30%;
          margin: 1.875em 0;
          background-color: #c5c5c5;
          height: 0.0625em;
          border: none;
        }
        img {
          display: none;
        }
        .toolbar {
          @include vendor('display', 'flex');
          @include vendor('flex-direction', 'row');
          @include vendor('align-items', 'center');
          @include vendor('justify-content', 'center');
          button,
          a {
            background-color: _palette(fg-accent) !important;
            padding: 0 1.25rem 0 1.35rem;
            color: black;

            font-family: system-ui;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 0.8rem;
            letter-spacing: 0.2rem;
            display: flex;
            align-items: center;
          }
          button:hover,
          a:hover {
            background-color: darkcyan !important;

            color: black !important;
            cursor: pointer;
          }
        }
      }
      img {
        max-width: 30%;
        margin: 6rem;
      }
    }
  }

  .ethos-list {
    list-style: none;
    @include vendor('display', 'flex');
    @include vendor('flex-direction', 'row');
    @include vendor('align-items', 'center');
    @include vendor('justify-content', 'center');
    li {
      @include vendor('flex-direction', 'row');
      @include vendor('align-items', 'center');
      @include vendor('justify-content', 'center');
      text-align: 'center';
      width: 290px;
      padding: 10px;
    }
  }
}

.contact-layout {
  width: 100%;
  @include vendor('display', 'flex');
  @include vendor('flex-direction', 'row');
  @include vendor('align-items', 'center');
  @include vendor('justify-content', 'space-around');
  svg {
    width: 60px;
    margin: 0 auto;
  }
}

// medium break point
@include breakpoint(medium) {
  #section {
    .container-partial-width {
      max-width: 90%;
    }
    .about-profile-layout {
      @include vendor('flex-direction', 'column');
      @include vendor('align-items', 'center');
      @include vendor('justify-content', 'center');
      @include vendor('flex-direction', 'column-reverse');
    }

    .skills_list {
      margin-bottom: 100px;
    }

    .banner {
      background-color: red;
      width: 100%;
    }

    .projects {
      .project {
        @include vendor('flex-direction', 'column');
        @include vendor('align-items', 'center');
        @include vendor('justify-content', 'center');
        .description {
          width: 70%;
          margin: 6rem 0;
          .title {
            order: 0;
          }
          img {
            order: 1;
            width: 100%;
            margin: 20px 0;
            display: block;
            position: relative;
            left: -8px;
          }
          .project-type {
            order: 2;
            height: 50px;
          }
          .project-text {
            order: 3;
          }
          .toolbar {
            display: flex;
            justify-content: space-between;
            order: 4;
            width: 100%;
          }
        }
        img {
          display: none;
        }
      }
    }
  }
}
// small breakpoint
@include breakpoint(small) {
  .aboveFoldHeight {
    min-height: 600px;
    margin-bottom: 3%;
  }
  #section {
    #section .container-partial-width {
      max-width: 90%;
    }

    .about-profile-layout {
      @include vendor('flex-direction', 'column');
      @include vendor('align-items', 'center');
      @include vendor('justify-content', 'center');
    }

    .angled-banner {
      min-height: 200px;
      margin-top: -5%;
      .angled-banner-text {
        @include vendor('flex-wrap', 'wrap');
        width: 90%;
        margin: 50px 0;
      }
    }
    .about-profile-img {
      width: 300px;
    }

    .ethos-list {
      list-style: none;
      @include vendor('display', 'flex');
      @include vendor('flex-direction', 'column');
      @include vendor('align-items', 'center');
      @include vendor('justify-content', 'center');
      li {
        @include vendor('flex-direction', 'row');
        @include vendor('align-items', 'center');
        @include vendor('justify-content', 'center');
        text-align: 'center';
        width: 290px;
        padding: 10px;
      }
    }

    .skills-container {
      margin-top: 80px;
      width: 100%;
    }
  }
  .projects {
    .project {
      @include vendor('flex-direction', 'column');
      @include vendor('align-items', 'center');
      @include vendor('justify-content', 'center');
      .description {
        width: 70%;
        margin: 6rem 0;
        .title {
          order: 0;
        }
        img {
          order: 1;
          width: 100%;
          margin: 20px 0;
          display: block;
          position: relative;
          left: -8px;
        }
        .project-type {
          order: 2;
          height: 50px;
        }
        .project-text {
          order: 3;
        }
        .toolbar {
          display: flex;
          justify-content: space-between;
          order: 4;
          width: 100%;
        }
      }
      img {
        display: none;
      }
    }
  }
}

// xtra small breakpoint

@include breakpoint(xsmall) {
}
